@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  user-select: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  margin: 0;
}

body {
  color: white;
  font-size: 17px;
  line-height: 26px;
  margin: 0;
  min-width: 320px;
  overflow-x: hidden;
  position: relative;
}

.container {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 15px;
  width: 1370px;
}

.scroller {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;

}

.page-section {
  background-image: url('../images/bacground.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  scroll-snap-align: start;

  &::before {
    background: linear-gradient(107.54deg, rgba(23, 26, 28, 0.72) 0%, #5E5E57 100%);
    bottom: 0;
    content: '';
    left: 0;
    opacity: .2;
    position: absolute;
    right: 0;
    top: 0;
  }

  &_wrapper {
    min-height: 100vh;
    padding: 74px 0 50px;
    position: relative;
    z-index: 1;
  }
}

.title {
  font-size: 44px;
  line-height: 53px;
  margin-bottom: 55px;
  padding-left: 25px;
}

.scroll-btn {
  bottom: 0;
  left: 0;
  padding: 13px 0 30px;
  position: absolute;
  right: 0;
  text-align: center;
}

